<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </head>
<body style="background-color: #bfbfbf;">
  {% extends 'slash.html' %}

  {% block extslash %}

<div class="container" style="display: inline-block;">
    <form method="POST" action="" class="container mt-5 ms-5" >
        <div class="row">
        <div class="col">
          <label for="validationCustom01" class="form-label">Roll no.</label>
          <input autofocus type="text" class="form-control" name="roll" id="validationCustom01" required>
        </div>
        <div class="col">
            <label for="validationCustom03" class="form-label">Return Date</label>
            <input type="text" class="form-control" name="rtdt" id="validationCustom03" required>
          </div>
          <div class="col">
            <label for="validationCustom04" class="form-label">No. of Nights</label>
            <input type="text" class="form-control" name="nights" required>
          </div>
        
    </div>
        <div class="row">
            <div class="col">
                <label for="validationCustom02" class="form-label">Where</label>
                <input type="text" class="form-control" name="where" id="validationCustom02" required>
              </div>
              <div class="col">
                <label for="validationCustomUsername" class="form-label">why</label>
                  <input type="text" class="form-control" id="validationCustom03" name="why" required>
              </div>
    </div>
        <div>
          <button class="btn btn-primary m-3 mb-5" type="submit">Apply For Leave</button>
        </div>
      </form>
    
    <!-- </div> -->
      <!-- <div class="col"> -->
      <form method="POST" action="" class="container mt-5 ms-5" >
        <div style="width: 205pt;">
          <label for="validationCustom01"  class="form-label">Roll no.</label>
          <input type="text" class="form-control" name="rtroll" value="{{ request.form['rtroll'] }}" id="validationCustom01" required>
        </div>
        <div>
          <button class="btn btn-primary m-3" style="display: inline-block;" type="submit">Check</button>
        <!-- {% for item in data %} -->
          <div style="display: inline-block;">the return date was {{data[0]}}</div>
        </div>

          <!-- {% endfor %} -->
        <!-- <div class="btn" aria-label="Basic checkbox toggle button group"> -->
        <div class="container mt-3">
          <div style="display: inline-block; margin-right: 3pt;" >
          <input type="checkbox" class="btn-check" value="1" name="ap" id="btncheck1" autocomplete="off">
          <label class="btn btn-outline-primary" style="color: black; font-weight: 500;" for="btncheck1">alert parent</label>
        </div>
        <div style="display: inline-block;">
          <button class="btn btn-primary " type="submit" name="finpro">change status</button>
        </div>
      </div>
        <!-- </div> -->
      </form>
    
    {% endblock extslash %}
</body>
</html>